ul ul ul > li {
    font-weight: normal;
    color: blue;
    list-style-type: square ;
}


li > ul > li {
    font-weight: bold;
    color: green;
    list-style-type:lower-latin;
}

ul {
    color: red;
    list-style-type: decimal;
}